<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/home-hello']">Algebra Systems</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home-hello']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/say-hello']">sayHelloWorld</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/get-hello']">get helloWorld</a>
      </li>
    </ul>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">


        <div class="dropdown bg-light  ">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu bg-light" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item bg-light" href="#" (click)="handleLogin()">Login</a>
            <a class="dropdown-item bg-light" href="#" (click)="handleLogout()">Logout</a>

          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
